/*
 * ng-view triggers three animation events: enter, leave and move.
 */
.view-slide-in.ng-enter {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
   
  opacity:0.5;
  position:relative;
  opacity:0;
  top:0px; //10px
  left:2px;//20px
}

.view-slide-in.ng-enter {
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
  top:0;
  left:0;
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
  top:0px; //top:5px;
  left:0px; //left:5px;
  opacity:1;
}
.view-slide-in.ng-leave{
  top:0;
  left:0;
  opacity:0;
}

fieldset.fieldset-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  1px 1px 1px 1px #888888;
            box-shadow:  1px 1px 1px 1px #888888;
}

legend.legend-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;

}

.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.drop-box {
     margin: 1px;
     padding-top: 25px;
     border: 2px dashed #666;  /* set to none if you don't want border */
     font-family: Georgia;
     font-size: 20px;
     background: #FFF;
     color: #3B444B;
     text-align: center; 
     vertical-align: middle;
     height: 100px;
     /*line-height: 100px;*/
     width: 250px;
     background-color: #e8e8e8;
}

.drop-box.dragover {
  border: 3px dashed #7094FF;
  background-color: #B3C3EF;
  
}
