<div class="container-fluid">
	<div class="row">
		<div ng-controller="fileUploadController" class="col-md-5">
			<fieldset class="fieldset-border">
				<legend class="legend-border">Upload File Demo</legend>
				
				<button class="btn btn-primary" ngf-select="true" ngf-max-size="{{uploadMaxSize}}"
					ngf-multiple="false" ngf-change="uploadFile($files, $event)">{{upoladFileText}}</button>
				<p/>

				<div class="drop-box" ngf-drop ng-model="files" ngf-max-size="{{uploadMaxSize}}"
					ngf-drag-over-class="dragover" ngf-multiple="false"
					ngf-allow-dir="false"><span style="vertical-align: middle;display: inline-block;">Drop file here</span></div>
					 
				<p/>
				
<!-- 				<button class="btn btn-danger"  ng-show="false" ng-click="abortUpload()">Cancel Upload</button> -->
				
				<span us-spinner="{radius:30, width:8, length: 16}" ng-show="uploadInProgress"></span>
<!-- 				<toaster-container toaster-options="{'time-out': 5000, 'close-button':true, 'animation-class': 'toast-top-left'}"></toaster-container>	 -->
			</fieldset>
		</div>

		<div ng-controller="configFileController" class="col-md-5">
			<fieldset class="fieldset-border">
				<legend class="legend-border">File Content Demo</legend>
				
				<form class="form-horizontal" name="configFileForm">
					<div class="form-group">
						<label for="filename" class="col-sm-2 control-label">File name:</label>
						<div class="col-sm-7">
							<input id="filename" ng-model="configFile.filename" type="text" required class="form-control" />
						</div>
						<span class="col-sm-3">
					        <button class="btn btn-primary"  ng-disabled="configFileForm.$invalid" ng-click="sendConfigFile()">                          
					            Send
					        </button>
					    </span>
					</div>
					
					<div class="form-group">
						<div class="col-sm-12">
							<textarea class="form-control custom-control" ng-model="configFile.content" rows="10" required></textarea>
						</div>
						
					</div>
				</form>	
				<div ng-class="saveConfigFileMsgClass" ng-show="saveConfigFileMsg">{{saveConfigFileMsg}}</div>	
				
			</fieldset>
		</div>


		<div  class="clearfix visible-lg">
			<toaster-container toaster-options="{'time-out': 5000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>	
		</div>
		
	</div>
</div>