<div class="container-fluid" ng-controller="configurationController">
	<div class="row">
		<div class="col-md-2">
			<div class="panel-group" id="accordion" data-allow-multiple="true" aria-multiselectable="true" bs-collapse>
				<div class="panel panel-default" ng-repeat="site in sites">
					<div class="panel-heading"  role="tab">
						<h4 class="panel-title">
							<a bs-collapse-toggle data-toggle="collapse" data-parent="#accordion" href="collapse{{$index+1}}"> {{ site.name }} </a>
						</h4>
					</div>
					<div id="collapse{{$index+1}}" class="panel-collapse  collapse in" bs-collapse-target>
						<div class="panel-body">
							<ul class="nav nav-pills nav-stacked">
								<li class="dropdown" ng-repeat="target in site.targets" ng-class="activeTargetClass(target)"><a href=""
									class="dropdown-toggle" data-toggle="dropdown" ng-click="selectTarget(target)">{{target.productType}}-{{target.serialNumber}}-{{target.id}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-10">
			<div class="panel-group" ng-show="selectedTarget">
				<div class="panel panel-info">
					<div class="panel-heading">
						<span>{{selectedTarget.productType}}-{{selectedTarget.serialNumber}}/{{selectedTarget.id}}</span> 
					</div>
					<div class="panel-body">
						<div class="col-sm-3">
							<!-- upload file panel -->
							<div class="row">
								<div style="width:100%" class="drop-box-sm" ngf-drop ng-model="files" ngf-max-size="{{uploadMaxSize}}"
									ngf-drag-over-class="dragover" ngf-multiple="false"
									ngf-allow-dir="false">
										<span style="vertical-align: middle;display: inline-block;">Drop file here or click <b>Upload</b> button
										</span>
										<button class="btn btn-primary btn-sm" ngf-select="true" ngf-max-size="{{uploadMaxSize}}" ng-disabled="processInProgress"
											ngf-multiple="false" ngf-change="uploadFile($files, $event)">Upload</button>
								</div>
							</div>
							
							<!-- list file panel -->
							<div class="row">
								<ul class="list-group">
									 <li class="list-group-item" ng-repeat="configFile in selectedTarget.configFiles">
									 	<a href="" data-toggle="tooltip" title="View/Edit File" ng-click="selectConfigFile(configFile)">{{configFile.filename}}</a>
									 	<a href="" class="pull-right glyphicon glyphicon-remove" data-toggle="tooltip" title="Delete File" ng-click="removeConfigFile(configFile)"></a>
									 </li>
								</ul>
							</div>
						</div>
						
						<div class="col-sm-9">
							<div class="panel panel-success" ng-show="selectedConfigFile">
								<div class="panel-heading" >
									<span class="panel-title" style="font-size: 20px">{{selectedConfigFile.filename}}</span>
									<span class="btn-group pull-right">
									  <button type="button" class="btn btn-sm btn-primary" ng-click="cancelEditConfigFile(editConfigFileForm.$dirty)" ng-disabled="processInProgress">Cancel</button>
									  <button type="button" class="btn btn-sm btn-primary" ng-click="saveConfigFile()" ng-disabled="processInProgress || editConfigFileForm.$invalid || editConfigFileForm.$pristine" >Save</button>
									</span>
								</div>
								<div class="panel-body">
									<form class="form-horizontal" name="editConfigFileForm" id="editConfigFileForm">
										<div class="form-group row">
											<textarea class="form-control custom-control" ng-model="selectedConfigFile.content" rows="20" required></textarea>
										</div>
									</form>	
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div  class="clearfix visible-lg">
			<toaster-container toaster-options="{'time-out': 5000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
			<span us-spinner="{radius:30, width:8, length: 16}" class="centered-axis-xy" ng-show="processInProgress"></span>
		</div>	
		
	</div>
</div>